<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="cadUsuario">
    <head>
        <title>Exibição</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="css/estilo.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/fa.ico">
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angular-cookies.js"></script>
        <script type="text/javascript" src="js/apps.js"></script>
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="cadUsuarioCtl">
        <div ng-init="exibeUsuarios()">
            <div  ng-init="setConfirmUnload(true)"> </div>
            <div class="container">
                <div class="col-md-7 central">
                    <!--Div do Menu, Necessario Css-->
                    <nav class="navbar navbar-default">
                        <ul class="nav nav-tabs">
                            <li class=""><a>Nome: {{usuario.nome}}</a></li>
                            <li class="active"><a>Cadastrados</a></li>
                            <li class=""><a href="#" data-toggle="modal" data-target="#login">Mudar Usuario</a></li>
                            <li class="" ng-click="closeApp()"><a href="">Sair</a></li>
                        </ul>
                    </nav>

                    <table class="table text-primary">
                        <thead>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "listUse in listUses">
                                <td>{{listUse.nome}}</td>
                                <td>{{listUse.idade}}</td>
                                <td>{{listUse.endereco}}</td>
                                <td>{{listUse.telefone}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Modal -->
                    <div class="modal fade" id="login">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="text-primary">
                                        <h3>Acesso ao Sistema</h3>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form name="loginForm">
                                        <div class="form-group">
                                            Login: <input type="text" class="form-control" placeholder="Login" required="" ng-model="login.usuario">
                                        </div>
                                        <div class="form-group">
                                            Senha: <input type="password" class="form-control" placeholder="Senha" required="" ng-model="login.senha">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <label class="btn btn-primary" ng-click="logarUser(login)">Acessar</label>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
