<!DOCTYPE html>
<html ng-app="cadUsuario">
    <head>
        <title>Tela de Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="css/estilo.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="imagens/fa.ico">
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angular-cookies.js"></script>
        <script type="text/javascript" src="js/apps.js"></script>
        
    </head>
    <body ng-controller="cadUsuarioCtl">
        <!--Tag principal-->
        <div class="container">
            
            <!--Tag do login-->
            <div class="col-md-7 central">
                <div class="text-primary">
                    <h3>Acesso ao Sistema</h3>
                </div>
                <form name="loginForm">
                    <div class="form-group">
                        Login: <input type="text" class="form-control" placeholder="Login" required="" ng-model="login.usuario">
                    </div>
                    <div class="form-group">
                        Senha: <input type="password" class="form-control" placeholder="Senha" required="" ng-model="login.senha">
                    </div>
                    <div class="form-group">
                        <label class="btn btn-primary" ng-click="logarUser(login)">Acessar</label>
                        <a href="cadastro.html" class="btn btn-primary">Cadastrar</a>
                    </div>
                </form>
                
                <input ng-change="setConfirmUnload(true)" ng-model="data"/>
<button ng-click="saveData()">Save Data</button>
<div ng-bind="data1"></div>
            </div>
            
        </div>
    </body>
</html>
